@import url('reset.css');
@import url('fonts.css');

body {
    background-image: url('../img/bg.png');
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    -ms-background-size: cover;
    -moz-background-size: cover;
}

/* HEADER */

header {
    position: absolute;
    top: 5%;
}

header > .logo {
    background-image: url('../img/logo.png');
    background-size: cover;
    height: 100px;
    width: 400px;
    opacity: 0.4;
    transition: all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    cursor: pointer;
}

header > .logo:hover { opacity: 1; }

/* FOOTER */

footer {
    position: absolute;
    bottom: 5%;
}

footer > .texto {
    font-family: 'Copperplate Gothic Bold Regular';
    font-size: 26px;
    color: white;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 0px 1px 3px rgba(0,0,0,.80);
    letter-spacing: -1px;
}

footer > .divisor, .icones {
    display: flex;
    align-items: center;
    justify-content: center;
}

footer > .divisor > .ponto {
    background-color: rgba(255,255,255,0.30);
    height: 10px;
    width: 10px;
    border-radius: 100%;
    margin: 3px 2px;
}

footer > .icones > a > .icone {
    width: 15px;
    height: 15px;
    margin: 0px 5px;
}

/* ICONES FOOTER */

footer > .icones > a > .icone.instagram { background-image: url('../img/instagram.png'); }
footer > .icones > a > .icone.email { background-image: url('../img/email.png'); }